/* src/pages/AboutPage/AboutPage.module.css (e similares) */
.pageContainer {
  padding: 20px 0;
  line-height: 1.7;
  color: var(--dark-gray-2-color, #474747);
}

.pageContent p {
  margin-bottom: 15px;
}

.pageContent ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}
